$vs-transition-time: 0.3s;
$vs-transition-longtime: 0.6s;
$vs-general-font-size: 12px;
$color-green: #14b545;
$color-blue: #0084ff;
$color-orange: #ff8800;
$color-red: #f44c4c;
$color-gray: #999;
$color-yellow: #fda738;
$color-violet: #7f99f1;
$vs-theme-blue-color: #0095da;
$vs-text-color: #212529;
$vs-base-color: #1ca7ff;
$vs-info-color: #2e9fe0;
$vs-danger-color: #b82020;
$vs-scheduled-color: #331bb0;
$vs-edit-color: #0084ff;
$vs-remove-color: #f44c4c;
$vs-restore-color: #fda738;
$vs-back-color: #999;
$vs-lock-color: #ff8800;
$vs-unlock-color: #2552e7;
$vs-print-color: $vs-unlock-color;
$vs-config-color: #666;
$vs-report-color: #7c8fce;
$vs-validate-color: #14b545;
$vs-view-color: $vs-validate-color;
$vs-data-color: #1c752d;
$vs-auto-color: #97096a;
$vs-status-doing: $vs-base-color;
$vs-status-response: $vs-report-color;
$vs-status-done: #004a80;
$vs-status-waiting: #e8b837;
$vs-status-valid: #65bd43;
$vs-status-expire: #f44c4c;
$vs-status-tdv: #4cadf4;
$vs-status-lock: $vs-lock-color;
$vs-status-cancel: $vs-back-color;
$vs-status-leave: #973707;
$vs-status-pause: #b44400;
$vs-status-stop: #e8822f;
$vs-input-placeholder-color: #888;
$vs-active-link-color: $vs-edit-color;
$vs-barge-color: #e65025;
$vs-topbar-bgc: #0084ff;
$vs-left-menu-width: 240px;
$vs-left-menu-collapse-width: 66px;
$vs-menu-level-3-bgc: #99dbf5;
$vs-menu-item-active-bgc: #f4f4f4;
$vs-menu-level-3-item-color: #035378;
$vs-menu-level-3-item-icon-bgc: #4facce;
$vs-required-input-color: #ff882e;
//table calendar
$vs-table-calendar-border-color: #bbb;
$vs-table-calendar-status-color-1: #a4d1f1;
$vs-table-calendar-status-color-2: #fcf88d;
$vs-table-calendar-status-color-3: #b7b571;
$vs-table-calendar-status-color-4: #42b0fe;
$vs-table-calendar-status-color-5: #d8d3b4;
$vs-table-calendar-period-color: #418e42;
//vs-table-calendar-room
$vs-table-calendar-room-period-drag:#82ca9c;
$vs-table-calendar-room-period-dhcq:#bfd6f0;
$vs-table-calendar-room-period-sdh:#f0c8bf;
$vs-table-calendar-room-period-vlvh:#fff799;
$vs-table-calendar-room-period-data:#3a8ce9;
$vs-table-calendar-room-period-busy:#bbbbbb;
//vs-table-scheduled
$vs-table-scheduled-busy:#d9d9d9;
$vs-table-scheduled-click:#92d050;
$vs-table-scheduled-suggestions:#fcf88d;
$vs-table-scheduled-selected: #eb8c43;
$vs-table-scheduled-suggested: #73bf8b;
$vs-prioritize-color: #9433df;

$colors: (
    common: (white: #ffffff,
        black: #000,
        placeholder: #a0a0a0,
        placeholder-2: #B2B2B2,
        heading: #444,
        body-text:#444,
        blue1: #08669E,
        blue2: #0874B5,
        blue3: #2BA3D5,
        blue4: #0d6efd,
        black1: #3B3B3B,
        gray1: #888,
        gray2: #D4D4D4,
        gray3: #EEE,
        red1: #F34B27,
        orange2: #F59422,
        green: #3CC47D,
    ),
    
    bg: (grey:#f8f8f8,
        grey-2:#F7F5F2,
        grey-3:#F6F4F0,
        grey-4:#D6D6D6,
        gray5: #f5f5f5,
        blue1:#d3f2ff,
    ),
    border: (1: #E5DDD9,
        2: #E2E2E2,
        3: #E5DDD9,
        4: #F2F2F2,
        5: #78A55A,
        6: #9B9B9B,
        7: #D4D4D4,
        8: #efefef,
        9: #9b9b9b,
        10: #AEAEAE,
        11: #8AB46E,
        12: #EAEBEE,
        13: #DBDBDB,
        14: #CCCCCC,
        15: #DCDCDC,
        16: #E3E3E3,
        17: #edeef2,
        18: #efefef,
        19: #ECECEC,
        20: #EEEEEE,
    ),
);