<div class="login-page">
  <div
    class="login-card bg-white/80 backdrop-blur-md shadow-xl rounded-2xl p-8 w-full max-w-sm border border-blue-100"
  >
    <div class="text-center mb-4">
      <h2 class="text-2xl font-semibold text-gray-800">Đăng nhập</h2>
      <p class="text-gray-500">Vui lòng nhập thông tin để tiếp tục</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">
      <div class="form-group">
        <input type="text" formControlName="username" placeholder="Nhập tên tài khoản" required class="form-input peer"/>
        <label class="form-label">Tên đăng nhập</label>
      </div>

      <div class="form-group">
        <input type="password" formControlName="password" placeholder="Nhập mật khẩu" required class="form-input peer"/>
        <label class="form-label">Mật khẩu</label>
      </div>
      <div class="button-lg">
        <button type="submit" class="btn-login">Đăng nhập</button>
      </div>
    </form>
  </div>
</div>
